# --- TERRAFORM ---
**/.terraform/
**/*.tfstate*
**/*.tfplan
**/*.tfvars
terraform/Archive/

# --- ANSIBLE ---
*.retry
.ansible_cache/
ansible/inventory.ini

# --- SSH & SECRETS ---
assets/keys/*
!assets/keys/*.pub

# --- SYSTEM & OS JUNK ---
.DS_Store
*.swp
*.tmp

