# .gitignore

#using terraform these files are sensitive/huge or need to be omited for clean respository
terraform/.terraform           # The provider binaries (huge files)
terraform/*.tfstate             # The state file (contains sensitive metadata)
terraform/*.tfstate.backup      # Backups of the state
terraform/terraform.tfvars      # Your actual secret tokens/passwords
terraform/*.tfplan              # Binary plan files
terraform/Archive    #archive file after testing
terraform/*.tfvars

